.abtBan {
    height: 90vh;
    width: 100%;
    padding: 0;
    /* background-image: url(../about-img/ABOUTBANNER.jpg); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: rgb(0, 0, 0);
    background-blend-mode: color-dodge;
    position: relative;
}

.abtBan img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.abtBan .content {
    position: absolute;
    left: 40%;
    /* transform: translateX(50%); */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2em;
}

@media screen and (max-width:576px) {

    .abtBan{
        padding-top: 80px;
        height: 50vh;
    }

    .abtBan .content {
        position: absolute;
        left: 30%;
        /* transform: translateX(-50%); */
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 1.2em;
    }
}



.games {
    /* height: 100vh; */
    border-radius: 20px;
    overflow: hidden;

}

.ourProduct {
    padding: 20px;
    background: var(--hclr);

}

.ourProduct .title-box {
    padding: 40px;
    /* border: 1px solid red; */
    color: white;
}





.testimonial {
    padding: 40px 20px 20px;
    /* border: 1px solid red; */
    background-color: var(--color2);
}

.testimonial h1 {
    color: var(--btnclr);
    text-align: center;
    margin-bottom: 30px;

}

.testimonial .testimonial-box {
    display: flex;
    overflow: hidden;
    position: relative;

}

.testimonial .testimonial-box .testimonial-flow {
    /* border: 1px solid green; */
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 5em;
    padding-left: 5em;


    animation: test-flow 20s linear infinite;

}


.testimonial .testimonial-box:hover .testimonial-flow {
    animation-play-state: paused;

}


@keyframes test-flow {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-100%);
    }
}

.testimonial-card {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    box-shadow: 0 0 5px;
    background: var(--hclr);
    border-radius: 10px;
    transition: 1s;
    color: white;

}

.testimonial-card:hover {
    /* transform: scale(1.1); */
    background: var(--hclr);
}

.testimonial-card .content {
    /* border: 1px solid red; */
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

.testimonial-card .content i {
    color: goldenrod;
    font-size: 2em;
    margin-bottom: 20px;
}

.testimonial-card .content p {
    text-align: justify;
    font-size: 0.9em;
    /* margin-bottom: 5px; */
    color: #300708;
    color: white;
}

.testimonial-card::after {

    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    /* background: var(--hclr); */
    
    /* background-color: #9c824a; */
    background-color: black;
    position: absolute;
    transition: 1s;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}

.testimonial-card:hover::after {
    transform: skewX(10deg);
    /* transform: rotate(15deg); */
}

.testimonial-card::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    /* background: var(--hclr); */
    background-color: #9c824a; 
    position: absolute;
    transition: 1s;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}

.testimonial-card:hover::before {
    transform: skewX(-10deg);
    /* transform: rotate(-15deg); */
}