.addcrt{
    /* margin-top: 200px; */
    /* padding: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 20px;
    padding:120px 10px;

}

.cartBox{
    width: 100%;
    border: 0px solid red;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 10px 0 15px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 20px;
}

.cartBox .left{
    border: 0px solid red;
}

.cartBox .right{
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartBox .right button{
    padding: 1em 3em;
    border-radius: 20px;
    background: var(--hclr);
    color: white;
    border: none;
    transition: 0.2s linear;
}

.cartBox .right button:hover{
    background: black;
    color: white;
}



.card:hover .card-top {
    transform: translateY(0px);
    background-color: black;
    background-blend-mode: color-burn;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.middlecart{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    
}

.middlecart .prr{
    /* border: 1px solid red; */
    display: grid;
    
}

.middlecart .qtybox{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.middlecart .qtybox .pp{
    /* border: 1px solid blue; */
    place-items: center;
    
}

.middlecart .qtybox .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.middlecart .qtybox .quntity{
    font-size: 1.3em;
}

.middlecart .qtybox button{
    padding: 0.5em 2.5em;
    border-radius: 20px;
    background: var(--hclr);
    color: white;
    border: none;
}

.middlecart .qtybox button:hover{
    background: black;
    color: white;
}

.cartBoxbb1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cartBoxbb1 button{
    padding: 2em 7em;
    background: var(--hclr);
    color: white;
    border-radius: 20px;
}

.cartBoxbb1 button:hover{
    background: black;
    color: white;
}


.total{
    justify-content: end;
    padding: 10px 50px 15px;
    gap: 30px;
}

.total .wholeAmount{
    /* border: 1px solid red; */
}

.total .WholeAmountBtn{
    /* border: 1px solid red; */
}

.total .WholeAmountBtn button{
    padding: 1em 6em;
    border-radius: 20px;
    border: none;
    background: var(--hclr);
    color: white;
    /* transition: 0.5s; */
}

.total .WholeAmountBtn button:hover{
    color: white;
    background: black;
}