*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.buyn{
    /* border: 1px solid red; */
    /* background-color: aqua; */
    /* padding: 80px; */
    height: 100vh;
    display: grid;
    place-items: center;
    backdrop-filter: (10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.579);
    background-blend-mode: color-burn;
    padding-bottom: 60px;
    
}

.bbxx{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 5px 1px rgb(67, 67, 67);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.848);
    
}

.whole{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.ig{
    /* border: 1px solid red; */
    /* text-align: center; */
    width: 400px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.ig img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


 .price{
    /* border: 3px solid red; */
    
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.718);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    border-radius: 20px;
    padding: 10px 20px;
    /* color: red; */
}

.price h4{
    color: red;
}

.QTYBOX{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.QTYBOX button{
    padding: 0.3em 2em;
    border-radius: 20px;
    border: none;
    background: var(--hclr);
    color: white;
}
.ttoott{
    background-color: rgba(255, 255, 255, 0.736);
    padding: 1em 3em;
    border-radius: 20px
}

.btn{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button{
    padding: 1.3em 8em;
    border: none;
    border-radius: 20px;
    color: white;
    background: var(--hclr);
}

@media screen and (max-width:576px) {

    .bbxx{
        width: 300px;
        height: 530px;
        /* padding: 40px; */
        gap: 0px;
        
    }
    .ig{
        width: 200px;
        height: 185px;
    }
}